table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 10px;
}
th, td {
    padding: 10px;
}
.tagset-1 { font-size: 100%; }
.tagset-2 { font-size: 120%; }
.tagset-3 { font-size: 125%; }
.tagset-4 { font-size: 140%; }
.tagset-5 { font-size: 160%; }

a.clear,
a.clear:link,
a.clear:visited,
a.clear:hover,
a.clear:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}